# https://pip.pypa.io/en/stable/reference/pip_install/

####### Use to install: pip3 install -r requirements.txt #######

#
###### Requirements without Version Specifiers ######
#
pika

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#
